bin
develop-eggs
eggs
src/bika.lims
src/senaite.api
.mr.developer.cfg
.installed.cfg
parts/
var
*.pyc
*egg-info
src/senaite.core
/.Python
/include/
/lib/
/pyvenv.cfg
src/senaite.app.listing/
src/senaite.app.spotlight/
src/senaite.app.supermodel/
src/senaite.impress/
src/senaite.lims/