include LICENSE
include README.md
include *.rst
include *.md
exclude MANIFEST.in
recursive-include docs *
recursive-include src/senaite/jsonapi *
recursive-exclude src/senaite/jsonapi *.pyc
recursive-exclude src/senaite/jsonapi/tests *
recursive-exclude src/senaite/jsonapi/docs *